Thumbs.db
.DS_Store
thesis/maxwell2018thesis.pdf
*.bbl
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
